<connectionStrings>
  <add name="Exii" connectionString="data source=exii.world;user id=exii;password=*********;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exii.world;user id=tps_dbo;password=*********;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>
