<?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <!-- Change to allow different interests to be included -->
    <add key="AllowedPartyProductInterestTypes" value="4701,4700,106010,106007" />
    <add key="AllowedProductStatusCodes" value="21,22" />
    <add key="KnownBpcProductTypes" value="1000041,81000001,81000022,81000040,81000051,81000080,81000220,101250148,101250280,101250284,101250288,101250540" />
    <add key="KnownUciProductTypes" value="175540,175564,220000,220001,220002,220003,220004,220005,1006404,1006449,1009681,1010140,101250430,172501,101250471,1010702,1014627" />
    <add key="KnownUnitisedPensionProductTypes" value="220100,91000022,91000085" />
    <add key="KnownGeneralInsuranceProductTypes" value="100801,100802,100803,100804,100810,100813" />
    <add key="KnownTermProductTypes" value="81000040,81000080,100827,1000041,174450,176282"/>
    <add key="IsaProductTransactionTypeIds" value="172383,240001,240004,240007,240011,240013,240014,240000" />
    <add key="ExcludedTransactionStatuses" value="4304"/>
    <!-- Limits what products have the option of allowing a customer to add a new regular contribution -->
    <add key="ProductsSupportingRegularContributions" value="220000,220001,220002,1010140" />
    <!-- Used by the front end to indicate to a customer what DD date a new regular contribution will be taken -->
    <add key="RegularPaymentDates" value="8,13,20" />
    <add key="VerificationCodeDearName" value="&lt;div/&gt;" />
    <add key="VerificationCodeEmailSubject" value="Teachers Assurance - Verification Code" />
    <add key="VerificationCodeEmailHtmlBodyPath" value="verification.htm" />
    <add key="VerificationCodeEmailSenderAddress" value="donotreply@teachersassurance.co.uk" />
    <add key="VerificationCodeEmailSenderAddress" value="donotreply@teachersassurance.co.uk" />
    <add key="VerificationCodeValidityPeriodInMinutes" value="15" />
    <!-- Stores the statement data -->
    <add key="StatementFolderRelativeUri" value="" />
    <add key="SecurityCodeLower" value="100000" />
    <add key="SecurityCodeUpper" value="999999" />
    <!-- Restrict phrases from being included in a password -->
    <add key="NotAllowedPhrases" value="pa55word?" />
    <add key="StrictEmailPattern" value="True" />
    <!-- Users are treated differently if they signed up before this date (maybe?) -->
    <add key="UserPivotDate" value="2010-09-01" />
    <add key="UserNameMaxLength" value="50" />
    <add key="UserNameMinLength" value="2" />
    <!-- User associated with all updates in eXii that are allowed by WebX -->
    <add key="HandlingUserPartyId" value="498785" />
    <!-- Currently unknown-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Used purely for testing functionality related to generating security codes for legacy my plans customers-->
    <add key="ActivateWebLoginCommit" value="false"/>
    <!-- If the executing server is not the live server behaviour can be altered.  See WebX.MyPlans.Dal.Base.IsLive().-->
    <add key="LiveServer" value="hqwebapp32p"/>
    <!-- TestEmailAddresses contains the email addresses allowed to be used in the non-live environment. -->
    <add key="TestEmailAddresses" value="gbunter@teachersassurance.co.uk,glenn.android@gmail.com,ctalbot@teachersassurance.co.uk,mashley@teachersassurance.co.uk,dgane@teachersassurance.co.uk,jhurst@teachersassurance.co.uk,tbartlett@teacherassurance.co.uk,eandruszko@teacherassurance.co.uk,ktalbot@teachersassurance.co.uk,gball@teachersassurance.co.uk,slovett@teachersassurance.co.uk,lbilling@teachersassurance.co.uk,mmcdonagh@teachersassurance.co.uk"/>

    <!-- Used to determine if the next due date value in payments tab should check for pending payments. 
      Add this check because the select can be quite slow
    -->
    <add key="CheckWaitingOnMovements" value="false"/>

    <add key="IncludeUnitTypeName" value="true"/>

    <add key="SuppressUwpBonusUnits" value="false"/>

    <!-- Used to include warnings in the registration notification when a customer has one of the following indicators set-->
    <add key="WarnOnIndicatorTypes" value="100120,1013705,100121,1007360,1009620,100128"/>

    <!-- EMS Settings -->
    <add key="EMSPushEnabled" value="true"/>
    <add key="EMSErrorUri" value="http://hqwebapp32d/Ems.RestApi/ErrorHandler.ashx"/>
    <add key="EMSFailOverUri" value="http://hqwebapp32d/Ems.RestApi/ErrorHandler.ashx"/>
    <add key="EMSCacheEnabled" value="false"/>
    <add key="EMSCacheFolder" value="somefolder"/>
  </appSettings>
  