<connectionStrings>
  <add name="Exii" connectionString="data source=exiidev.world;user id=exii;password=D0ris999;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exiidev.world;user id=tps_dbo;password=l1fepens10ns;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>
