<connectionStrings>
  <add name="Exii" connectionString="data source=exii3.world;user id=exii;password=rec0v8ry;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exii3.world;user id=tps_dbo;password=las8rj8t;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>
