<connectionStrings>
  <!--<add name="Exii" connectionString="data source=exii3.world;user id=exii;password=rec0v8ry;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exii3.world;user id=tps_dbo;password=las8rj8t;validate connection=true;" providerName="Oracle.DataAccess.Client"/>-->
  <add name="Exii" connectionString="data source=exiidev.world;user id=exii;password=D0ris999;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exiidev.world;user id=tps_dbo;password=l1fepens10ns;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>
<!--<connectionStrings>
  <add name="Exii" connectionString="data source=exiitest.world;user id=exii;password=hel1um;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
  <add name="Tps" connectionString="data source=exiitest.world;user id=tps_dbo;password=yak1ma22;validate connection=true;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>-->
